<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page (확인용)</title>
</head>
<body>
<h1>Main Page (확인용)</h1>

<!-- 비로그인 상황 -->
<div th:if="${session.member == null}">
    <table>
        <tr>
            <td><button onclick="window.location='/member/login'">로그인</button></td>
        </tr>
        <tr>
            <td><button onclick="window.location='/member/signup'">회원가입</button></td>
        </tr>
    </table>
</div>

<!-- 로그인 상황 -->
<div th:if="${session.member != null}">
    <table>
        <tr>
            <td><button onclick="window.location='/member/logout'">로그아웃</button></td>
        </tr>
        <tr>
            <td><button onclick="window.location='/member/mypage'">마이페이지</button></td>
        </tr>
    </table>
</div>
</body>
</html>
